* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: row;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    font-family: sans-serif;
    width: 100%;
}