table #A {
    background: #EE1D23;
}

table #B {
    background: #00AEEF;
}

table #C {
    background: #F7931D;
}

table #D {
    background: #00AB4D;
}

table #E {
    background: #8781BD;
}

table #F {
    background: #8BC63E;
}

table .ligne {
    display: inline-block;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    min-width: 19px;
    line-height: 19px;
    margin-right: 5px;
}

table caption,
table th,
table td {
    border: 1px solid black;
}

table caption {
    background-color: grey;
    margin-bottom: -1px;
    font-weight: bold;
}

table th {
    font-weight: bold;
    background-color: lightgray;
    text-align: left;
}

table tr {
    background-color: white;
}

table tr:nth-child(even) {
    background-color: lightgray;
}

table caption select {
    color: black;
    text-align: center;
    margin: 5px 0 5px 0;
    border: 1px solid black;
    background: none;
    font-size: 16px;
    font-weight: bold;
}